{% extends "auctions/layout.html" %}

{% block title %}{{category}}{% endblock %}

{% block body %}


    <ul>
    {% comment %} {% for ite in item %} {% endcomment %}
        {% comment %} <li>{{item}}</a><li> {% endcomment %}
    {% comment %} {% endfor %} {% endcomment %}
    {% for item in items %}

        {% if item.category == category %}
            <li><a href="{% url "item" item.id %}">{{item}}</a></li>
        {% endif %}
        
    {% endfor %}
    
    </ul>
{% endblock %}