{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}
    <h2>Active Listings</h2>


    <div class="card-deck">
    {% for auction in auctions%}
        {% if auction.active %}
            <div class="card">
                {% if auction.img %}
                    <img class="card-img-top" src="{{auction.img.url}}" alt="Card image cap">
                {% endif %}
                <div class="card-body">
                <a class="link-primary"href="{% url 'item' auction.id %}"><h5 class="card-title">{{auction.name}}</h5></a>
                <p class="card-text">{{auction.description}}</p>
                </div>
                <div class="card-footer">
                <small>Current Bid: ${{ auction.startbid|intcomma }}</small>
                </div>
            </div>
        {% endif %}
        
    {% endfor %}
    </div>
{% endblock %}