{% extends "auctions/registationLayout.html" %}

{% block body %}

<section>
    <h3 class="font-bold text-2xl">New Here</h3>
    <p class="text-gray-600 pt-2">Create Account.</p>
</section>

<section class="mt-10">

<form class="flex flex-col" action="{% url 'register' %}" method="post">
    {% csrf_token %}

    <div class="mb-6 pt-1 rounded bg-gray-200">
        <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="password">Username</label>
        <input type="text" name="username" autofocus autocomplete="off" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3">
    </div>

    <div class="mb-6 pt-1 rounded bg-gray-200">
        <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="email">Email</label>
        <input type="email" id="email" name="email" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3">
    </div>
    <div class="mb-6 pt-1 rounded bg-gray-200">
        <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="password">Password</label>
        <input type="password" id="password" name="password" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3">
    </div>
    <div class="mb-6 pt-1 rounded bg-gray-200">
        <label class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="password">Confirm Password</label>
        <input type="password" name="confirmation" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3">
    </div>
    
    <button class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="submit">Register</button>

    {% if message %}
    <div class="bg-red-100 border mt-4 border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline">{{ message }}</span>                    
    </div>
{% endif %}
</form>
</section>
{% endblock %} 

{% block footer %}

<div class="max-w-lg mx-auto text-center mt-12 mb-6">
    <p class="text-white">Already have an account? <a href={% url 'login' %} class="font-bold hover:underline">Login</a>.</p>
</div>

{% endblock %}
